<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title><%= title %></title>
        <link rel="stylesheet" href="./css/style.css">
    </head>
<body>
    <% include include/header%>
	<div class="container">
        <h1>404 not found</h1>
    </div>
    <% include include/footer%>
    <script src="./js/main.js"></script>
</body>
</html>