<div class="header">
	<a href="/" class="active">Home</a>
	<div class="left-border"></div>
	<a href="/weather">Weather</a>
	<div class="left-border"></div>
	<a href="/about">about</a>
	<div class="left-border"></div>
	<a href="/help">Help</a>
</div>